@import 'framework7/css/framework7.bundle.css';
@import 'framework7-icons/css/framework7-icons.css';
@import 'material-design-icons/iconfont/material-icons.css';

.navbar .title{
    line-height: 2em;
}

#magic button{
    background-color: blue;
}

#loginSignin{
    width: 12em;
}

#logout{
    width: 7em;
}

#map-here{
    height: 75vh;
    margin-top: .5em;
}

#closeSave{
    margin: 0;
    width: 12em;
}

#theNote{
    width:100%;
    height:100%;
}

#tab2{
    min-height:75vh;
}

.completed{
	text-decoration: line-through;
}